<% provide(:title, 'Co to?') %>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Co to jest?
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Strona ma na celu pomóc i zapobiec ciągłemu pilnowaniu i sprawdzaniu ręcznie czy są jakieś nowe aukcje. Gdy już znajdziemy interesującą nas aukcję można ją potem obserwować przez allegro. 
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Czy dostanę email od razu przy każdej nowej aukcji?
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Niestety nie, nie od razu. Allegro pod kontem nowych aukcji jest przeszukiwane co 10 minut. Gdy są nowe aukcje pod interesującym nas hasłem email zostanie wysłany od razu.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Dlaczego nie ma opcji pozwalającej zaznaczyć "tylko nowe"/"tylko używane" rzeczy?
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        Niestety na tę chwilę, API Allegro na to nie pozwala. Nic więcej nie wiadomo, będę starał się to rozwiązać w przyszłości. 
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Mam dodatkowe pytania.
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        Po dodatkowe informacje proszę odezwać się do mnie przez email lub dać wzmainkę np. na twitterze. Wszystkie informacje kontaktowe na stronie w stopce. 
      </div>
    </div>
  </div>
</div>