<% provide(:title, 'Strona Główna') %>
<% if signed_in? %>
  <%= render 'shared/look_form' %>
  <%= render 'looks/look' %>
<% else %>
  <div class="hero-unit">
    Powiadomienia na email o nowych aukcjach na allegro.<br/> Nie trzeba samemu pilnować czy jest coś nowego pod hasłem które nas interesuje. <br/>Wszystko będzie sprawdzane automatycznie.
  </div>
<% end %> 