<% provide(:title, 'Strona Główna') %>
<% if signed_in? %>
  <%= render 'shared/look_form' %>
  <%= render 'looks/look' %>
<% else %>
  <div class="hero-unit">
    Mailowe powiadomienia o nowych aukcjach na allegro.</br>
Nie musisz sprawdzać, czy pojawiły się nowe interesujące Cię rzeczy, bo wszystko odbywa się automatycznie.
  </div>
<% end %> 