<% provide(:title, 'Strona Główna') %>
<% if signed_in? %>
  <%= render 'shared/look_form' %>
  <ul class="looks">
    <%= render @looks %>
  </ul>
<% else %>
  <div class="hero-unit">
    Powiadomienia o nowych aukcjach na allegro.
  </div>
<% end %> 