<table border="1" bordercolor="#000000" style="" width="100%" cellpadding="2" cellspacing="2">
  <tr>
    <td>Nazwa</td>
    <td>Kup teraz</td>
    <td>Licytacja</td>
  </tr>
  <% @auctions.each do |auction|%>
    <tr>
      <td><a href="#" target="_blank"><%= auction.name %></a></td>
      <td><%= auction.price_buy %></td>
      <td><%= auction.price_atm %></td>
    </tr>
  <% end %>
</table>