$(document).ready(function() {
  $(".auction").click(function(){
    var id = $(this).attr('id');
    $(".sidebar").empty().html("<iframe src='http://m.allegro.pl/item/index/id/"+ id +"'></iframe>");
  });

    $('.buttons a:first').click(function(){
      $(this).siblings('.spinner').show();
    });

    $('.new-look').bind('ajax:beforeSend', function(evt, xhr, settings){
      $('.submit-look').parent('div').find('.dodatkowe-opcje').before('<button type="button" class="btn disabled" disabled="disabled">Ładowanie...</button>');
      $('.submit-look').remove();
    });
});