.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px; /* or 940px */
}

a {
  color: #000;
  &.hover {
    color: #000;
  }
}

ul {
  list-style-type: none;
}

.sidebar {
  min-height: 10em
}
.looks {
  margin: 0.4em 0.4em 0.4em 0em;
}

.looks li {
  margin: 0.4em 0em 0.4em 0.4em;
}

.looks ul {
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.looks .look {
  background-color: #E9E9E9;
  font-size: 1.25em;
  &:hover{
    background-color: #DCDCDC;
  }
  padding: 0.35em;
}

.looks .delete_button {
  float: right;
}

.looks .name {
  padding: 0.3em 0em 0em 0em;
}

.looks .time {
  font-size: 0.65em;
  text-align: right;
  padding-bottom: 0.15em;
  padding-right: 0.5em;
}

.auction {
  background-color: #E9E9E9;
  padding: 0.1em 0.25em 0.1em 0.25em;
  height: 3em;
}

.price {
  width: 6em;
}
.price span{
  display: block;
  text-align: left;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 180px;
}
.hide-auction {
  display: none;
}