<% unless flash.nil? %>
  <% flash.each do |key, value| %>
      <% value = [value].flatten %>
      <div class="alert alert-<%= key %>">
        <% value.each do |v|%>
          <span class="alert-error-single"><%= v %></span>
        <% end %>
      </div>
  <% end %>
<% end %>