<% unless flash.nil? %>
  <% flash.each do |key, value| %>
      <% value = [value] %>
      <% value.each do |v|%>
        <div class="alert alert-<%= key %>"><%= v %></div>
      <% end %>
  <% end %>
<% end %>